{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{% translate "Currently Blocked Users" %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="shadow p-3 mb-5 bg-body rounded col-10 align-self-center">
          <h3>{% translate "Blocked user search" %}:</h3>
          <form method="get">
            <input type="text" id="q" name="q">
            <button type="submit" class="btn btn-dark">{% translate "Search" %}</button>
          </form>
            <h4>{% translate "List of blocked users" %}:</h4>
            <ul class="list-group">
                {% for blocked_user in object_list %}
                    <li class="list-group-item mb-1"><span>
                            <a href="{% url 'blocked-user-detail' blocked_user.id %}" id="blocked-user-detail" class="list-group-item list-group-item-action list-group-item-warning">
                              <div><strong>{% translate "User" %}: {{ blocked_user.blocked_user }} - {{ blocked_user.blocked_user.email }}</strong>
                                <p class="fst-italic mb-0">{% translate "Blocked to" %}: {{ blocked_user.blocking_end_date|date:"d M Y H:i" }}</p>
                                <p class="fst-italic mb-0">{% translate "Reason" %}: {{ blocked_user.reason|truncatewords:8 }} </p>
                                <p class="fst-italic mb-0">{% translate "Blocked by" %}: {{ blocked_user.blocking_user }} </p>
                                <p class="fw-bold text-danger">{% translate "BLOCKED" %}</p>
                            </div>
                            </a>
                        </span>
                    </li>
                {% endfor %}
            </ul>
            <a href="{{request.META.HTTP_REFERER}}" class="btn btn-secondary" role="button">{% translate "BACK" %}</a>
            <div class="pagination">
              {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">{% translate "Previous" %}</a>
              {% endif %}
                <span>{% translate "Page" %} {{ page_obj.number }} {% translate "of" %} {{ page_obj.paginator.num_pages }}</span>
              {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">{% translate "Next" %}</a>
              {% endif %}
             </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
