{% extends 'base.html' %}
{% block title %}
Welcome page
{% endblock %}
{% block content %}
<div class="section">
    <div class="columns">
        <div class="column is-10 is-offset-1">
            <div class="box">
              {% if user.is_authenticated %}
                <h1>Hi {{user.username}}</h1>
              {% else %}
                <h1>Welcome stranger, please log in</h1>
              {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
