{% extends 'base.html' %}
{% block title %}
Welcome page
{% endblock %}
{% block content %}
<div class="container text-center">
    {% if user.is_authenticated %}
        <div class="row justify-content-center">
            <div class="col-3">
                <div class="container text-center mb-2">
                <h2>Complaints</h2>
                {% include "dashboardapp/complaints_list.html" with complaints=new_complaints list_title="New complaints" %}
                {% include "dashboardapp/complaints_list.html" with complaints=active_complaints list_title="Active complaints" %}
                 </div>
             </div>
            <div class="col-3">
                <h2>Latest messages</h2>
                <div class="container text-center mb-2">
                {% include "dashboardapp/messages.html" with messages=arbiter_messages list_title="Latest my messages" %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="row justify-content-center mt-5" >
            <div class="col-2 align-self-center">
                <a class="btn btn-primary btn-lg" href="{% url 'account_signup' %}">Sign up</a>
            </div>
            <div class="col-2 align-self-center">
                <a class="btn btn-primary btn-lg" href="{% url 'account_login' %}">Log in</a>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
