{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{% translate "Programmers stock market - Dashboard" %}
{% endblock %}
{% block content %}
<div class="container text-center">
    {% if user.is_authenticated %}
        <div class="row justify-content-center">
            <div class="col-3">
                <div class="shadow p-3 mb-5 bg-body rounded container text-center mb-2">
                    <h2> <i class="fa-solid fa-list-check"></i><span class="ms-2">{% translate "Tasks" %}</span></h2>
                {% include "dashboardapp/tasks_list.html" with tasks=new_tasks list_title=_("New tasks") %}
                {% include "dashboardapp/tasks_list.html" with tasks=tasks list_title=_("Active tasks") %}
                {% include "dashboardapp/tasks_list.html" with tasks=problematic_tasks list_title=_("Problems") %}
                 </div>
             </div>
            <div class="col-3">
                <div class="shadow p-3 mb-5 bg-body rounded container text-center mb-2">
                <h2> <i class="fa-solid fa-briefcase"></i><span class="ms-2">{% translate "Jobs" %}</span></h2>
                {% include "dashboardapp/tasks_list.html" with tasks=jobs list_title=_("Active jobs") %}
                {% include "dashboardapp/tasks_list.html" with tasks=problematic_jobs list_title=_("Problems") %}
                </div>
            </div>
            <div class="col-3">
                <div class="shadow p-3 mb-5 bg-body rounded container text-center mb-2">
                <h2> <i class="fa-solid fa-folder-open"></i><span class="ms-2">{% translate "Offers" %}</span></h2>
                {% include "dashboardapp/offers_list.html" with offers=new_offers list_title=_("Submitted") %}
                {% include "dashboardapp/offers_list.html" with offers=lost_offers list_title=_("Lost offers") %}
                </div>
            </div>
            <div class="col-3">
                <div class="shadow p-3 mb-5 bg-body rounded container text-center mb-2">
                <h2> <i class="fa-solid fa-message"></i><span class="ms-2">{% translate "Messages" %}</span></h2>
                {% include "dashboardapp/messages.html" with messages=new_messages list_title=_("Latest messages") %}
                </div>
            </div>

        </div>
    {% else %}
        <div class="row justify-content-center mt-5" >
            <div class="col-2 align-self-center">
                <a class="btn btn-primary btn-lg" href="{% url 'account_signup' %}">{% translate "Sign up" %}</a>
            </div>
            <div class="col-2 align-self-center">
                <a class="btn btn-primary btn-lg" href="{% url 'account_login' %}">{% translate "Log in" %}</a>
            </div>
        </div>
    {% endif %}
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
