{% load static %}
{% if messages %}
<div class="row justify-content-start mb-2" >
    <p class="text-left border mb-1">{{ list_title }}</p>
    <ul class="list-group">
    {% for message in messages %}
        <li class="list-group-item">
            <a class="link-secondary chat_link" role="button" value="{% url 'chat' message.chat.id %}" chat_id="{{ message.chat.id }}">
            <i class="fa-solid fa-comment"></i>
            {{message.timestamp}}
            <span> {{ message.author }}:{{message.content}}</span>
            </a>
        </li>
    {% endfor %}
    </ul>
</div>
{% else %}
<div class="row justify-content-start mb-2" >
    <p class="text-left border mb-1">{{ list_title }}</p>
        <ul class="list-group">
            You have no messages
        </ul>
{% endif %}
</div>
{% block scripts %}
<script type='text/javascript' src="{% static 'chatapp/js/script-chat-new-window.js' %}"></script>
{% endblock %}
