{% load i18n %}
{% if offers %}
<div class="row justify-content-start mb-2">
    <p class="text-left border mb-1 p-1 mb-1 bg-warning text-dark">{{ list_title }}</p>
    <ul class="list-group">
    {% for offer in offers %}
        <li class="list-group-item">
            <span>
                <a href="{% url 'offer-detail' offer.id %}" class="link-dark list-group-item list-group-item-action">
                    <div><strong>{{ offer.task.title }}</strong>
                        <p class="fst-italic mb-0">{% translate "Offer status" %}: {{ offer.accepted|yesno:"Accepted,Unaccepted" }}</p>
                        <p class="fst-italic mb-0">{% translate "Budget" %}: {{ offer.budget }}</p>
                    </div>

                </a>
            </span>
        </li>
    {% endfor %}
    </ul>
</div>
{% endif %}
