[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.2"
crispy-bootstrap4 = "~=2022.1"
django-allauth = "~=0.54"
fontawesomefree = "~=6.4"
pillow = "~=9.5"

[dev-packages]
pre-commit = "~=3.3"

[requires]
python_version = "3.11"
