.card   {
    height: 100vh;
}

img.avatar  {
    width: 40px;
    height: 100%;
    border-radius: 50%
}

.current-user-message   {
    color: white;
    max-width: 80vw;
    background-color: #0d6efd;
}

.other-user-message     {
    color: white;
    max-width: 80vw;
    background-color: #999;
}

#chat-message-input {
  resize: none;
}

#chat-message-submit  {
    padding-top: .55rem;
}
