<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Arbiter
  </a>
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'tasks-moderator-list' %}">New tasks</a></li>
    <li><a class="dropdown-item" href="{% url 'tasks-moderator-list' %}">Find task</a></li>
    <li><a class="dropdown-item" href="#">New offers</a></li>
    <li><a class="dropdown-item" href="#">New profiles</a></li>
    <li><a class="dropdown-item" href="#">Find user</a></li>
  </ul>
</li>
