 <!-- Navbar dropdown for moderator -->
<li class="nav-item dropdown">
  <!-- Open dropdown anchor -->
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Tasks
  </a>
  <!-- Dropdown items -->
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'tasks-moderator-list-new' %}">Latest tasks</a></li>
    <li><a class="dropdown-item" href="{% url 'tasks-moderator-list' %}">Find task</a></li>
  </ul>
</li>
<li class="nav-item dropdown">
  <!-- Open dropdown anchor -->
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Offers
  </a>
  <!-- Dropdown items -->
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'offer-moderator-list-new' %}">Latest offers</a></li>
    <li><a class="dropdown-item" href="{% url 'offer-moderator-list' %}">Find offers</a></li>
  </ul>
</li>
 <li class="nav-item dropdown">
  <!-- Open dropdown anchor -->
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Solutions
  </a>
  <!-- Dropdown items -->
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'solutions-moderator-list-new' %}">Latest solutions</a></li>
    <li><a class="dropdown-item" href="{% url 'solutions-moderator-list' %}">Find solutions</a></li>
  </ul>
</li>
 <li class="nav-item dropdown">
  <!-- Open dropdown anchor -->
  <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Profiles
  </a>
  <!-- Dropdown items -->
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'blocked-users-list' %}">Blocked users</a></li>
    <li><a class="dropdown-item" href="#">Latest profiles</a></li>
    <li><a class="dropdown-item" href="#">Find profile</a></li>
  </ul>
</li>
