<!-- Navbar dropdown for regular user - Tasks -->
<li class="nav-item dropdown">
  <!-- Open dropdown anchor -->
  <a class="nav-link dropdown-toggle" href="{% url 'tasks-client-list' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    My tasks
  </a>
  <!-- Dropdown items -->
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'tasks-client-list' %}#">Tasks list</a></li>
    <li><a class="dropdown-item" href="{% url 'offers-client-list' %}">Pending offers</a></li>
    <li><a class="dropdown-item" href="{% url 'tasks-client-history-list' %}#">Closed tasks</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="{% url 'task-create' %}#">Create task</a></li>
  </ul>
</li>
<!-- Navbar dropdown for regular user - Offers -->
<li class="nav-item dropdown">
  <!-- Open dropdown anchor -->
  <a class="nav-link dropdown-toggle" href="{% url 'tasks-client-list' %}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    Solve tasks
  </a>
  <!-- Dropdown items -->
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="#">Tasks taken</a></li>
    <li><a class="dropdown-item" href="{% url 'offers-list' %}">My offers</a></li>
    <li><a class="dropdown-item" href="{% url 'offer-task-search' %}">Find task</a></li>
    <li><a class="dropdown-item" href="#">Closed tasks</a></li>
  </ul>
</li>
