{% load users_extras %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <!-- Open menu for small screens / mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler1"
            aria-controls="navbarToggler1" aria-expanded="true" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar -->
    <div class="collapse navbar-collapse" id="navbarToggler1">
      <a class="navbar-brand" href="{% url 'dashboard' %}">Programmers Stock Market</a>
      <!-- Navbar items - left side -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- Navbar dropdowns displayed depend on user group -->
        {% if user.is_staff or user|has_group:GROUP_NAMES.ADMINISTRATOR %}
        <a class="nav-link active" href="{% url 'dashboard-admin' %}">Dashboard</a>
          {% include "navbar_admin.html" %}
          {% include "navbar_arbiter.html" %}
          {% include "navbar_moderator.html" %}
        {% elif user|has_group:GROUP_NAMES.ARBITER %}
         <a class="nav-link active" href="{% url 'dashboard-arbiter' %}">Dashboard</a>
          {% include "navbar_arbiter.html" %}
          {% include "navbar_moderator.html" %}
        {% elif user|has_group:GROUP_NAMES.MODERATOR %}
         <a class="nav-link active" href="{% url 'dashboard-moderator' %}">Dashboard</a>
          {% include "navbar_moderator.html" %}
        {% else %}
          {% include "navbar_user.html" %}
        {% endif%}
        <!-- Navbar dropdown for additional links -->
        <li class="nav-item dropdown">
          <!-- Open dropdown anchor -->
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            More
          </a>
          <!-- Dropdown items -->
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">About</a></li>
            <li><a class="dropdown-item" href="#">Contact</a></li>
          </ul>
        </li>
      </ul>
      <!-- Navbar items - right side -->
      <ul class="navbar-nav ms-md-auto">
       <!-- Navbar items - right side if the user is logged in -->
       {% if user.is_authenticated %}
          <li class="navbar-text">Welcome, {{ user }}</li>
          <li class="nav-item dropdown">
          <!-- Open dropdown anchor -->
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
             aria-expanded="false">
            Chats
          </a>
          <!-- Dropdown items -->
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'private-chats' %}">Private chats</a></li>
            <li><a class="dropdown-item" href="{% url 'task-chats' %}">Task chats</a></li>
            <li><a class="dropdown-item" href="{% url 'complaint-chats' %}">Complaint chats</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'all-chats' %}">All chats</a></li>
          </ul>
        </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'profile' %}">Manage profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'account_logout' %}">Logout</a>
          </li>
       <!-- Navbar items - right side if the user is not logged in -->
       {% else %}
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'account_signup' %}">Sign up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'account_login' %}">Log in</a>
          </li>
       {% endif %}
      </ul>
    </div>
  </div>
</nav>
