{% load i18n %}
<a class="nav-link active" href="{% url 'dashboard' %}">{% translate "Dashboard" %}</a>
<!-- Navbar dropdown for regular user - Tasks -->
<li class="nav-item dropdown">
  <!-- Open dropdown anchor -->
  <a class="nav-link dropdown-toggle" href="{% url 'tasks-client-list' %}" role="button" data-bs-toggle="dropdown"
     aria-expanded="false" id="navbar-tasks">
    {% translate "My tasks" %}
  </a>
  <!-- Dropdown items -->
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'tasks-client-list' %}#" id="navbar-tasks-list">{% translate "Tasks list" %}</a></li>
    <li><a class="dropdown-item" href="{% url 'offers-client-list' %}" id="navbar-pending-offers">{% translate "Pending offers" %}</a></li>
    <li><a class="dropdown-item" href="{% url 'tasks-client-history-list' %}#" id="navbar-closed-tasks">{% translate "Closed tasks" %}</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="{% url 'task-create' %}#" id="navbar-create-task">{% translate "Create task" %}</a></li>
  </ul>
</li>
<!-- Navbar dropdown for regular user - Offers -->
<li class="nav-item dropdown">
  <!-- Open dropdown anchor -->
  <a class="nav-link dropdown-toggle" href="{% url 'tasks-client-list' %}" role="button" data-bs-toggle="dropdown"
     aria-expanded="false" id="navbar-solve-tasks">
    {% translate "Solve tasks" %}
  </a>
  <!-- Dropdown items -->
  <ul class="dropdown-menu">
    <li><a class="dropdown-item" href="{% url 'tasks-contractor-list' %}">{% translate "Tasks taken" %}</a></li>
    <li><a class="dropdown-item" href="{% url 'offers-list' %}" id="navbar-my-offers">{% translate "My offers" %}</a></li>
    <li><a class="dropdown-item" href="{% url 'offer-task-search' %}" id="navbar-find-task">{% translate "Find task" %}</a></li>
    <li><a class="dropdown-item" href="{% url 'tasks-contractor-closed-list' %}">{% translate "Closed tasks" %}</a></li>
  </ul>
</li>
