{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block content %}
        {% if messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
    {% endif %}
    <div class="row justify-content-center">
        <div class="col-sm-3">
            <h1>Google</h1>
            <a href="{% provider_login_url 'google' %}">Login with Google</a>
            <h1>LinkedIn</h1>
            <a href="{% provider_login_url 'linkedin_oauth2' %}">Login with LinkedIn</a>
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Log in!</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Login</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Does not have an account? <a class="ml-2" href="{% url 'account_signup' %}">Sign Up</a>
                </small>
            </div>
        </div>
    </div>
{% endblock %}
