{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="section">
    <div class="columns">
        <div class="column is-10 is-offset-1">
            <div class="box">
                <h1>Signing Out</h1>

                <p>Are you sure you want to sign out?</p>

                <form method="post" action="{% url 'account_logout' %}">
                  {% csrf_token %}
                  {% if redirect_field_value %}
                  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                  {% endif %}
                  <button class="btn btn-outline-info" type="submit">Sign Out</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
