{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load socialaccount %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <h1>Google</h1>
            <a href="{% provider_login_url 'google' %}">Register with Google</a>
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Join us!</legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-outline-info" type="submit">Sign Up</button>
                </div>
            </form>
            <div class="border-top pt-3">
                <small class="text-muted">
                    Have an account? <a class="ml-2" href="{% url 'account_login' %}">Sign in</a>
                </small>
            </div>
        </div>
    </div>

{% endblock %}
