{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}

    <div class="section">
        <div class="columns">
            <div class="column is-10 is-offset-1">
                <div class="box">
                     <h1>{% translate "Verify Your E-mail Address" %}</h1>
                      <p>{% blocktrans %} We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. If you do not see the verification e-mail in your main inbox, check your spam folder. Please contact us if you do not receive the verification e-mail within a few minutes.</p>
                        {% endblocktrans %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
