HOST_NAME=https://host.name.com
IP4_PORT=29999
SECRET_KEY=secret_key
SENDGRID_API_KEY = fsdakjk312832183jidsja@!!!@#ksaSA
DEFAULT_FROM_EMAIL=noreply@stockmarket.pl
ADMIN_USER=adminuser
ADMIN_EMAIL=adminuser@adminmail.mail
ADMIN_PASS=adminpass
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
TZ=Europe/Warsaw
