{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
{% translate "Programmers stock market - Complaint details" %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-11">
            {% include "tasksapp/complaint_detail_data.html" %}
            <div>
                {% if not object.arbiter %}
                <hr class="navbar-divider">
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#ComplaintTakeModal">
                    {% translate "TAKE" %}
                </button>
                {% elif is_arbiter and not object.closed %}
                <hr class="navbar-divider">
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#ComplaintCloseModal">
                    {% translate "CLOSE" %}
                </button>
                {% endif %}
            </div>
            <hr class="navbar-divider">
            <div>
                <a href="{% url 'complaint-arbiter-list-active' %}" class="btn btn-secondary" role="button">{% translate "MY COMPLAINTS" %}</a>
                <a href="{% url 'complaint-arbiter-list' %}" class="btn btn-secondary" role="button">{% translate "ALL COMPLAINTS" %}</a>
            </div>
        </div>

        {% if attachments %}
        <hr class="navbar-divider">
        <p>{% translate "Files:" %}</p>
        <ul>
        {% for attachment in attachments %}
            <li>
                <a href="{% url 'task-attachment-download' attachment.id %}" class="link-dark">{{attachment}}</a>
                <a href="{% url 'task-attachment-delete' attachment.id %}" class="text-left border mb-0 p-0 mb-0 bg-warning text-dark text-decoration-none">|X|</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>
</div>
{% include "tasksapp/complaint_detail_take_modal.html" %}
{% include "tasksapp/complaint_detail_close_modal.html" %}

{% endblock %}

{% block scripts %}
{% endblock %}
