{% load static %}
{% load i18n %}
<p>{% blocktrans %}Status - closed: {{ object.closed }}{% endblocktrans %}</p>
{% if chat_id %}
<a>Open chat
  <a class="link-secondary chat_link" role="button"
     value="{% url 'chat' chat_id %}" chat_id="{{ chat_id }}"><i class="fa-solid fa-comment"></i>
  </a>
</a>
{% endif %}
<p>{% blocktrans %}Complaint content: {{ object.content }}{% endblocktrans %}</p>
<p>{% blocktrans %}Task title: {{ object.task.title }}{% endblocktrans %}</p>
{% if object.task.selected_offer.solution %}
<p>{% blocktrans %}Solution: {{ object.task.selected_offer.solution }}{% endblocktrans %}</p>
{% endif %}

{% block scripts %}
<script type='text/javascript' src="{% static 'chatapp/js/script-chat-new-window.js' %}"></script>
{% endblock %}
