{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}
{% block title %}
{% translate "Programmers stock market - Complaints" %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-10 align-self-center">
            {% if form %}
            <form class="form-inline my-2" action="" method="get">
                {% crispy form %}
                <button type="submit" class="btn btn-dark">{% translate "Search" %}</button>
                {% if filtered %}<a class="btn btn-secondary" href="{% url 'offer-moderator-list' %}">{% translate "Reset filter" %}</a>{% endif %}
            </form>
            <hr class="navbar-divider">
            {% endif %}
            <h2>{% translate "Complaints:" %}</h2>
            <ul>
                {% for complaint in object_list %}
                    <li><span>
                            <a href="{% url 'complaint-arbiter-detail' complaint.id %}">
                                <span>{{ complaint.task.title }}</span>
                                <span>{{ complaint.complainant }}</span>
                            </a>
                        </span>
                    </li>
                {% endfor %}
            </ul>
            {% include "pagination.html" %}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
