<!-- The Modal -->
{% load i18n %}
<div class="modal" id="ComplaintTakeModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">{% translate "Do you want to take this complaint?" %}</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          {% include "tasksapp/complaint_detail_data.html" %}
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <form  action="{% url 'complaint-arbiter-take' object.id %}" method="post">{% csrf_token %}
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
            <input type="submit" class="btn btn-dark" value="Take Complaint" value="Name">
          </form>
        </div>
      </div>
    </div>
  </div>
