{% load static %}
{% load i18n %}
<p>{% blocktrans with closed=object.closed %}Status - closed: {{ closed }}{% endblocktrans %}</p>
{% if chat_id %}
<a>Open chat
  <a class="link-secondary chat_link" role="button"
     value="{% url 'chat' chat_id %}" chat_id="{{ chat_id }}"><i class="fa-solid fa-comment"></i>
  </a>
</a>
{% endif %}
<p>{% blocktrans with content=object.content %}Complaint content: {{ content }}{% endblocktrans %}</p>
<p>{% blocktrans with title=object.task.title %}Task title: {{ title }}{% endblocktrans %}</p>
{% if object.task.selected_offer.solution %}
<p>{% blocktrans with solution=object.task.selected_offer.solution %}Solution: {{ solution }}{% endblocktrans %}</p>
{% endif %}

{% block scripts %}
<script type='text/javascript' src="{% static 'chatapp/js/script-chat-new-window.js' %}"></script>
{% endblock %}
