{% extends 'base.html' %}

{% load static %}

{% block title %}
Complaint details
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-11">
            <p>Status - closed: {{ object.closed }}</p>
            <p>Complaint content: {{ object.content }} </p>
            <p>Task title: {{ object.task.title }}</p>
            <p>Solution: {{ object.task.selected_offer.solution }}  </p>
            {% if is_complainant %}
            <p>
                <a href="{% url 'complaint-edit' object.id %}">|EDIT|</a>
                <a href="#">|DELETE|</a>
            </p>

            {% endif %}
            <hr class="navbar-divider">
            <div>
                <a href="{% url 'task-detail' object.task.id %}">|BACT TO TASK|</a>
            </div>
        </div>

        {% if attachments %}
        <hr class="navbar-divider">
        <p>Files:</p>
        <ul>
        {% for attachment in attachments %}
            <li>
                <a href="{% url 'task-attachment-download' attachment.id %}">{{attachment}}</a>
                <a href="{% url 'task-attachment-delete' attachment.id %}">|X|</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    </div>
</div>
<!-- The Modal -->
<div class="modal" id="OfferAcceptModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Do You want accept the Offer?</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          {% include "tasksapp/offer_detail_data.html" %}
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <a href="{% url 'offer-client-accept' object.id %}"><button type="submit" class="btn btn-primary">Accept Offer</button></a>
        </div>

      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}
