{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{% translate "Programmers stock market - Offers list" %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="shadow p-3 mb-5 bg-body rounded col-10 align-self-center">
            <h4>{% translate "Filter (by offer description, task title, task description, contractor):" %}</h4>
            <form method="get">
                <input type="text" id="q" name="q">
                <button type="submit" class="btn btn-dark">{% translate "Search" %}</button>
            </form>
            <h2>{% translate "Pending offers for:" %}</h2>
            <ul class="list-group">
                {% for offer in object_list %}
                    <li class="list-group-item">
                            <a href="{% url 'offer-detail' offer.id %}" class="list-group-item list-group-item-action list-group-item-warning">
                                <p class="fw-bold mb-0">{% blocktrans with title=offer.task.title contractor=offer.contractor %}Task: {{ title }} | Offer by: {{ contractor }}{% endblocktrans %}</p>
                                <p class="fst-italic mb-0">{% blocktrans with description=offer.description|truncatewords:15 %}| Description: {{ description }}{% endblocktrans %}</p>
                                <p class="fst-italic mb-0">{% blocktrans with budhet=offer.budget %}| Budget: {{ budget }}{% endblocktrans %}</p>
                                <p class="fst-italic mb-0">{% blocktrans with days_to_complete=offer.days_to_complete %}| Days to complete: {{ days_to_complete }}{% endblocktrans %}</p>
                            </a>
                    </li>
                {% endfor %}
            </ul>
            {% include "pagination.html" %}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
