{% extends 'base.html' %}
{% load i18n %}
{% block scripts %}
{% endblock %}

{% block title %}
{% translate "Programmers stock market - Delete offer?" %}
{% endblock %}
{% block content %}
<div class="container">
    <form method="post">{% csrf_token %}
        <p>{% blocktrans with title=object.task.title %}Are you sure you want to remove offer for task: "{{ title }}"?{% endblocktrans %}</p>
        {{ form }}
        <input type="submit" value="Confirm">
    </form>
    <a href="{% url 'offer-detail' object.id %}" class="btn btn-dark" role="button">{% translate "Cancel" %}</a>
</div>
{% endblock %}
