{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
{% translate "Programmers stock market - Offer details" %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="shadow p-3 mb-5 bg-body rounded col-11">
            {% include "tasksapp/offer_detail_data.html" %}
            {% if is_contractor %}
            <p>
                <a href="{% url 'offer-edit' object.id %}"  class="btn btn-secondary" role="button" id="offer-edit">{% translate "EDIT" %}</a>
                <a href="{% url 'offer-delete' object.id %}" class="btn btn-secondary" role="button" id="offer-delete">{% translate "DELETE" %}</a>
            </p>
            <hr class="navbar-divider">
            <div>
                <a href="{% url 'offers-list' %}" class="btn btn-secondary" role="button">{% translate "ALL OFFERS" %}</a>
            </div>
            {% elif is_client %}
            <p>
              {% if object.task.selected_offer is None %}
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#OfferAcceptModal">
                    {% translate "ACCEPT" %}
                  </button>
                {% endif %}
                <a href="{% url 'offers-client-list' %}" class="btn btn-secondary" role="button">{% translate "BACK" %}</a>
                <div>
                    <small>{% translate "Have a question?" %} <a class="chat_link ml-1" role="button" value="{% url 'open-chat' object.contractor.id %}">{% translate "Contact contractor" %}</a></small>
                </div>
            </p>
            <hr class="navbar-divider">
            <div>
                <a href="{% url 'task-detail' object.task.id %}" class="btn btn-secondary" role="button">{% translate "TASK" %}</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- The Modal -->
<div class="modal" id="OfferAcceptModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Do You want accept the Offer?</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          {% include "tasksapp/offer_detail_data.html" %}
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <form  action="{% url 'offer-client-accept' object.id %}" method="post">{% csrf_token %}
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            <input type="submit" class="btn btn-dark" value="Accept Offer" value="Name">
          </form>
        </div>

      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
    <script type='text/javascript' src="{% static 'chatapp/js/script-chat-new-window.js' %}"></script>
{% endblock %}
