{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{% translate "Programmers stock market - Offers list for task" %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-10 align-self-center">
            <h4>{% translate "Filter (by offer description and contractor):" %}</h4>
            <form method="get">
                {% csrf_token %}
                <input type="text" id="q" name="q">
                <button type="submit" class="btn btn-dark">{% translate "Search" %}</button>
            </form>
            <h4>{% blocktrans %}Task:{{ task.title}}{% endblocktrans %}</h4>
            <div>
                <p>{% blocktrans %}Description: {{ task.description }}{% endblocktrans %}</p>
                <p>{% blocktrans %}Expected realization time (in days): {{ task.days_to_complete }}{% endblocktrans %}</p>
                <p>{% blocktrans %}Budget: {{ task.budget }}{% endblocktrans %}</p>
             </div>
             <h4>{% translate "Pending offers:" %}</h4>
            <ul>
                {% for offer in object_list %}
                    <li><span>
                            <a href="{% url 'offer-detail' offer.id %}">

                                <span>{% blocktrans %}| Offer by: {{ offer.contractor }}{% endblocktrans %}</span>
                                <span>{% blocktrans %}| Description: {{ offer.description }}{% endblocktrans %}</span>
                                <span>{% blocktrans %}| Budget: {{ offer.budget }}{% endblocktrans %}</span>
                                <span>{% blocktrans %}| Offered Realization Time: {{ offer.days_to_complete }}{% endblocktrans %}</span>
                            </a>
                        </span>
                    </li>
                {% endfor %}
            </ul>
            <div class="pagination">
              {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">{% translate "Previous" %}</a>
              {% endif %}
                <span>{% blocktrans %}Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}{% endblocktrans %}</span>
              {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">{% translate "Next" %}</a>
              {% endif %}
             </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
