{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{% translate "Programmers stock market - Offers list" %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="shadow p-3 mb-5 bg-body rounded col-10 align-self-center">
            <h4>{% translate "Filter (by offer description, task title, task description, contractor):" %}</h4>
            <form method="get">
                <input type="text" id="q" name="q">
                <button type="submit" class="btn btn-dark">{% translate "Search" %}</button>
            </form>
            <h2>{% translate "Pending offers for:" %}</h2>
            <ul class="list-group">
                {% for offer in object_list %}
                    <li class="list-group-item">
                            <a href="{% url 'offer-detail' offer.id %}" class="list-group-item list-group-item-action list-group-item-warning">
                                <p class="fw-bold mb-0">{% blocktrans %}Task: {{ offer.task.title }} | Offer by: {{ offer.contractor }}{% endblocktrans %}</p>
                                <p class="fst-italic mb-0">{% blocktrans %}| Description: {{ offer.description|truncatewords:15 }}{% endblocktrans %}</p>
                                <p class="fst-italic mb-0">{% blocktrans %}| Budget: {{ offer.budget }}{% endblocktrans %}</p>
                                <p class="fst-italic mb-0">{% blocktrans %}| Days to complete: {{ offer.days_to_complete }}{% endblocktrans %}</p>
                            </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="pagination">
              {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">{% translate "Previous" %}</a>
              {% endif %}
                <span>{% blocktrans %}Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}{% endblocktrans %}</span>
              {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">{% translate "Next" %}</a>
              {% endif %}
             </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
