{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}
{% translate "Programmers stock market - New offer" %}
{% endblock %}
{% block content %}
<div class="container">
        <div class="shadow p-3 mb-5 bg-body rounded col-11">
        <p class="fw-bold">{% blocktrans %}Creating offer for task: {{ task.title }} | expected delivery (in days): {{ task.days_to_complete }} | maximal budget: {{ task.budget }}{% endblocktrans %}</p>
        <hr class="navbar-divider">
        <form method="post">{% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-dark">{% translate "Save" %}</button>
        </form>
        <a href="{% url 'offers-list' %}" class="btn btn-secondary" role="button">{% translate "BACK" %}</a>
    </div>
</div>
{% endblock %}
