{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{% translate "Programmers stock market - Offers list for task" %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-10 align-self-center">
            <h4>{% translate "Filter (by offer description and contractor):" %}</h4>
            <form method="get">
                {% csrf_token %}
                <input type="text" id="q" name="q">
                <button type="submit" class="btn btn-dark">{% translate "Search" %}</button>
            </form>
            <h4>{% blocktrans with title=task.title %}Task:{{ title}}{% endblocktrans %}</h4>
            <div>
                <p>{% blocktrans with description=task.description %}Description: {{ description }}{% endblocktrans %}</p>
                <p>{% blocktrans with days_to_complete=task.days_to_complete %}Expected realization time (in days): {{ days_to_complete }}{% endblocktrans %}</p>
                <p>{% blocktrans with budget=task.budget %}Budget: {{ budget }}{% endblocktrans %}</p>
             </div>
             <h4>{% translate "Pending offers:" %}</h4>
            <ul>
                {% for offer in object_list %}
                    <li><span>
                            <a href="{% url 'offer-detail' offer.id %}">

                                <span>{% blocktrans with contractor=offer.contractor %}| Offer by: {{ contractor }}{% endblocktrans %}</span>
                                <span>{% blocktrans with description=offer.description %}| Description: {{ description }}{% endblocktrans %}</span>
                                <span>{% blocktrans with budget=offer.budget %}| Budget: {{ budget }}{% endblocktrans %}</span>
                                <span>{% blocktrans with days_to_complete=offer.days_to_complete %}| Offered Realization Time: {{ days_to_complete }}{% endblocktrans %}</span>
                            </a>
                        </span>
                    </li>
                {% endfor %}
            </ul>
            {% include "pagination.html" %}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
