{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{% translate "Programmers stock market - Offers" %}
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="shadow p-3 mb-5 bg-body rounded col-10 align-self-center">
            <h4>{% translate "My offers:" %}</h4>
            <ul class="list-group">
                {% for offer in object_list %}
                    <li class="list-group-item"><span>
                            <a href="{% url 'offer-detail' offer.id %}" id="offer-detail" class="list-group-item list-group-item-action list-group-item-warning">
                              <div><strong>{{ offer.task.title }}</strong>
                                <p class="fst-italic mb-0">{% blocktrans %}Offer status: {{ offer.accepted|yesno:"Accepted,Unaccepted" }}{% endblocktrans %}</p>
                                <p class="fst-italic mb-0">{% blocktrans %}Budget: {{ offer.budget }}{% endblocktrans %}</p>
                            </div>
                            </a>
                        </span>
                    </li>
                {% endfor %}
            </ul>
            <a href="{% url 'offer-task-search' %}" class="btn btn-secondary" role="button">{% translate "FIND NEW TASK" %}</a>
            <div class="pagination">
              {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">{% translate "Previous" %}</a>
              {% endif %}
                <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
              {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">{% translate "Next" %}</a>
              {% endif %}
             </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
