{% extends 'base.html' %}
{% block title %}
My offers
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="shadow p-3 mb-5 bg-body rounded col-10 align-self-center">
            <h4>My offers:</h4>
            <ul>
                {% for offer in object_list %}
                    <li><span>
                            <a href="{% url 'offer-detail' offer.id %}">
                                <span>{{ offer.task.title }}</span>
                            </a>
                        </span>
                    </li>
                {% endfor %}
            </ul>
            <a href="{% url 'offer-task-search' %}">|FIND NEW TASK|</a>
            <div class="pagination">
              {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
              {% endif %}
                <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
              {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
              {% endif %}
             </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
