{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block title %}
{% translate "Programmers stock market - Solution details" %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="shadow p-3 mb-5 bg-body rounded col-11">
            {% include "tasksapp/solution_detail_data.html" %}
            {% if is_contractor %}
            <p>
                <a href="{% url 'solution-edit' object.id %}" class="btn btn-secondary" role="button">{% translate "EDIT" %}</a>
                <a href="{% url 'solution-delete' object.id %}" class="btn btn-secondary" role="button">{% translate "DELETE" %}</a>
            </p>
            {% if attachments %}
                <p class="fw-bold">{% translate "Files:" %}</p>
                <ul class="list-group">
                    {% for attachment in attachments %}
                        <li class="list-group-item">
                            <a href="{% url 'solution-attachment-download' attachment.id %}" class="link-dark">{{attachment}}</a>
                            <a href="{% url 'solution-attachment-delete' attachment.id %}" class="text-left border mb-0 p-0 mb-0 bg-warning text-dark text-decoration-none">|X|</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
            <p>
                <a href="{% url 'solution-add-attachment' object.id %}" class="btn btn-secondary" role="button">
                    {% translate "|ADD ATTACHMENT|" %}</a>
            </p>
            <hr class="navbar-divider">
            <div>
                <a href="{% url 'task-contractor-detail' task.id %}" class="btn btn-secondary" role="button">{% translate "TASK" %}</a>
            </div>

            {% elif is_client %}
            <p>
              {% if not object.accepted %}
                <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#SolutionAcceptModal">
                    {% translate "ACCEPT" %}
                </button>
                {% endif %}
            </p>
            <hr class="navbar-divider">
            <div>
                <a href="{% url 'task-detail' task.id %}" class="btn btn-secondary" role="button">{% translate "TASK" %}</a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<!-- The Modal -->
<div class="modal" id="SolutionAcceptModal">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">{% translate "Do you want to accept this Solution?" %}</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body">
          {{ object.description|truncatewords:50 }}
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
            <form  action="{% url 'solution-accept' object.id %}" method="post">{% csrf_token %}
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% translate "Cancel" %}</button>
                <input type="submit" class="btn btn-dark" value="{% translate 'Accept Solution' %}">
              </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
{% endblock %}
