{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <div class="shadow p-3 mb-5 bg-body rounded col-11">
        {% if contractor_view %}
        <p class="fw-bold">Adding solution to task: {{ task.title }}</p>
        {% endif %}
        <hr class="navbar-divider">
        <form method="post"enctype="multipart/form-data">{% csrf_token %}
            {{ form|crispy }}
            {{ attachment_form|crispy }}
            <button type="submit" class="btn btn-primary">Save</button>
        </form>
        {% if contractor_view %}
        <p>Task description: {{ task.description }}</p>
        <p>Offer description: {{ offer.description }}</p>
            <a href="{% url 'task-contractor-detail' task.id %}" class="link-dark"><</a>
        {% else %}
            <a href="{% url 'solutions-moderator-list' %}" class="link-dark"><</a>
        {% endif %}
    </div>
</div>
{% endblock %}
