{% extends 'base.html' %}
{% load i18n %}
{% block title %}
{% translate "Programmers stock market - Add attachment to task" %}
{% endblock %}
{% block scripts %}
{% endblock %}

{% block content %}
<div class="container">
    <form method="post" enctype="multipart/form-data">{% csrf_token %}
        {{ form }}
        <input type="submit" value="{% translate 'Add' %}">
    </form>
    <a href="{% url 'task-detail' task.id %}" class="btn btn-dark" role="button">{% translate "BACK" %}</a>
</div>
{% endblock %}
