{% extends 'base.html' %}
{% block title %}
My events
{% endblock %}
{% block content %}
<div class="section">
    <div class="columns">
        <div class="column is-10">
            <div class="box">
                <h2>My tasks:</h2>
                <ul>
                    {% for task in object_list %}
                        <li><span>
                                <a href="{% url 'task-detail' task.id %}">
                                    <span>{{ task.title }}</span>
                                    <span>:{{ task.get_status_display }}</span>
                                </a>
                            </span>
                        </li>
                    {% endfor %}
                </ul>
                <a href="{% url 'tasks-client-list' %}">|CURRENT TASKS|</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block scripts %}
{% endblock %}
