{% extends 'base.html' %}
{% block title %}
My tasks
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-10 align-self-center">
            <h2>My tasks:</h2>
            <ul>
                {% for task in object_list %}
                    <li>
                        <a href="{% url 'task-detail' task.id %}">
                            <span>{{ task.title }}</span>
                            <span>:{{ task.get_status_display }}</span>
                        </a>
                        <a href={% url 'offer-detail' task.selected_offer.id %}>
                          <span>My offer</span>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <div class="pagination">
              {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
              {% endif %}
                <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
              {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
              {% endif %}
             </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
