{% extends 'base.html' %}
{% block title %}
Task details
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-11">
            <h1 class="title">{{ object.title }}</h1>
            {% if object.selected_offer %}
                <a href="#">Open chat</a>
            {% endif %}
            <p>Status: {{ object.get_status_display }}</p>
            <p> {{ object.description }} </p>
            <p> {{ object.realization_time }}</p>
            <p> {{ object.budget }} </p>
            {% if object.skills %}
            <p>
                {% for skill in object.skills.all %}
                #{{skill}}
                {% endfor %}
            </p>
            {% endif %}

            {% if attachments %}
                <hr class="navbar-divider">
                <p>Files:</p>
                <ul>
                {% for attachment in attachments %}
                    <li>
                        <a href="{% url 'task-attachment-download' attachment.id %}">{{attachment}}</a>
                        <a href="{% url 'task-attachment-delete' attachment.id %}">|X|</a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            <p>
                <a href="{% url 'task-add-attachment' object.id %}">|ADD ATTACHMENT|</a>
            </p>
            <p>
                <a href="{% url 'task-edit' object.id %}">|EDIT|</a>
                <a href="{% url 'task-delete' object.id %}">|DELETE|</a>
            </p>
            <hr class="navbar-divider">
            <div>
                <a href="{% url 'tasks-client-list' %}">|ALL TASKS|</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
