{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Search tasks
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-10 align-self-center">
            <form class="form-inline my-2" action="" method="get">
                {% crispy form %}
                {% include 'form_skills.html' %}
                {% include 'add_skills.html' %}
                <button type="submit" class="btn btn-primary">Search</button>
                {% if filtered %}<a class="btn btn-secondary" href="{% url 'offer-task-search' %}">Reset filter</a>{% endif %}
            </form>
            <hr class="navbar-divider">
            <h2>Tasks found:</h2>
            <ul>
                {% for task in object_list %}
                    <li><span>
                            <a href="{% url 'task-preview' task.id %}">
                                <span>{{ task.title }}</span>
                                <span>:{{ task.get_status_display }}</span>
                                <span><a href="{% url 'offer-create' task.id %}">create offer</a></span>
                            </a>
                        </span>
                    </li>
                {% endfor %}
            </ul>
            <div class="pagination">
              {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
              {% endif %}
                <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
              {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
              {% endif %}
             </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    {% include 'tasksapp/task_search_scripts.html' %}
{% endblock %}
