{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}
{% translate "Programmers stock market - Search tasks" %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="shadow p-3 mb-5 bg-body rounded col-10 align-self-center">
            <h3>{% translate "Task search:" %}</h3>
            <form class="form-inline my-2" action="" method="get">
                {% crispy form %}
                {% include 'form_skills.html' %}
                {% include 'add_skills.html' %}
                <button type="submit" class="btn btn-dark">{% translate "Search" %}</button>
                {% if filtered %}<a class="btn btn-secondary" href="{% url 'offer-task-search' %}">{% translate "Reset filter" %}</a>{% endif %}
            </form>
            <hr class="navbar-divider">
            <h3>{% translate "Tasks found:" %}</h3>
            <ul class="list-group">
                {% for task in object_list %}
                    <li class="list-group-item">
                            <a href="{% url 'task-preview' task.id %}" class="list-group-item list-group-item-action list-group-item-warning">
                                <div class="mb-1"><strong>{{ task.title }}</strong>
                                    {% include "tasksapp/task_status.html" with object=task %}
                                </div>
                            </a>
                                <div class="mb-1">
                                <a href="{% url 'offer-create' task.id %}" class="btn btn-secondary" role="button" id="create-offer">{% translate "Create offer for this task" %}</a>
                                </div>

                    </li>
                {% endfor %}
            </ul>
            {% include "pagination.html" %}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    {% include 'tasksapp/task_search_scripts.html' %}
{% endblock %}
