{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}
{% translate "Programmers stock market - Search tasks" %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="shadow p-3 mb-5 bg-body rounded col-10 align-self-center">
            {% if form %}
            <form class="form-inline my-2" action="" method="get">
                {% crispy form %}
                <button type="submit" class="btn btn-dark">{% translate "Search" %}</button>
                {% if filtered %}<a class="btn btn-secondary" href="{% url 'tasks-moderator-list' %}">{% translate "Reset filter" %}</a>{% endif %}
            </form>
            <hr class="navbar-divider">
            {% endif %}
            <h2>Tasks:</h2>
            <ul class="list-group">
                {% for task in object_list %}
                    <li class="list-group-item"><span>
                            <a href="{% url 'task-moderator-detail' task.id %}" class="list-group-item list-group-item-action list-group-item-warning">
                                <div>{{ task.title }} - {{task.client}}
                                    {% include "tasksapp/task_status.html" with object=task %}
                                </div>
                            </a>
                        </span>
                    </li>
                {% endfor %}
            </ul>
            {% include "pagination.html" %}
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
