{% extends 'base.html' %}

{% load static %}

{% block title %}
Task details
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="shadow p-3 mb-5 bg-body rounded col-11">
            <h1 class="title">{{ object.title }}</h1>
            {% if chat_id %}
                <a>Open chat
                    <a class="link-secondary chat_link" role="button"
                       value="{% url 'chat' chat_id %}" chat_id="{{ chat_id }}"><i class="fa-solid fa-comment"></i>
                    </a>
                </a>
            {% endif %}
            <p class="fw-bold">Status: {{ object.get_status_display }}</p>
            <p class="fw-bold">Task description: {{ object.description }} </p>
            {% if object.selected_offer %}
                <p class="fst-italic">Deadline: {{ object.selected_offer.realization_time }}</p>
                <p class="fst-italic">Budget: {{ object.selected_offer.budget }}</p>
                {% if object.skills %}
                    <p>
                        {% for skill in object.skills.all %}
                        #{{skill}}
                        {% endfor %}
                    </p>
                {% endif %}
                <hr class="navbar-divider">
                <p class="fw-bold">Selected offer: {{ object.selected_offer }}
                <a href="{% url 'offer-detail' object.selected_offer.id %}" class="text-left border mb-1 p-1 mb-1 bg-warning text-dark text-decoration-none">|VIEW OFFER|</a>
                </p>
                {% if complaint %}
                <p class="fw-bold"> There is a complaint for this task:
                    <a href="{% url 'complaint-detail' complaint.id %}" class="text-left border mb-1 p-1 mb-1 bg-warning text-dark text-decoration-none">|VIEW COMPLAINT|</a>
                 </p>
                {% elif is_ongoing %}
                  <p>
                    <a href="{% url 'complaint-create' object.id %}" class="text-left border mb-1 p-1 mb-1 bg-warning text-dark text-decoration-none">|ADD COMPLAINT|</a>
                </p>
                {% endif %}

                {% if object.selected_offer.solution %}
                <hr class="navbar-divider">
                    <h4><a href="{% url 'solution-detail' object.selected_offer.solution.id %}">Solution:</a></h4>
                        {{object.selected_offer.solution.description|truncatewords:20}}
                        {% if solution_attachments %}
                            <p>Files:</p>
                            <ul class="list-group">
                                {% for attachment in solution_attachments %}
                                    <li class="list-group-item">
                                        <a href="{% url 'solution-attachment-download' attachment.id %}"  class="link-dark">{{attachment}}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                {% endif %}
            {% else %}
            <p class="fst-italic">Days to complete: {{ object.days_to_complete }}</p>
            <p class="fst-italic">Budget: {{ object.budget }} </p>
            <p>No offer selected
                <a href="{% url 'task-offers-list' task.id %}" class="link-dark">
                    <span>_____>> Offers for this task</span>
                </a>
            </p>
            {% endif %}
            <hr class="navbar-divider">
            {% if attachments %}

                <p>Files:</p>
                <ul>
                {% for attachment in attachments %}
                    <li>
                        <a href="{% url 'task-attachment-download' attachment.id %}" class="link-dark">{{attachment}}</a>
                        <a href="{% url 'task-attachment-delete' attachment.id %}">|X|</a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            <p>
                <a href="{% url 'task-add-attachment' object.id %}" class="text-left border mb-1 p-1 mb-1 bg-warning text-dark text-decoration-none">|ADD ATTACHMENT|</a>
            </p>
            <p>
                <a href="{% url 'task-edit' object.id %}" class="text-left border mb-1 p-1 mb-1 bg-warning text-dark text-decoration-none">|EDIT|</a>
                <a href="{% url 'task-delete' object.id %}" class="text-left border mb-1 p-1 mb-1 bg-warning text-dark text-decoration-none">|DELETE|</a>
            </p>
            <hr class="navbar-divider">
            <div>
                <a href="{% url 'tasks-client-list' %}" class="text-left border mb-1 p-1 mb-1 bg-warning text-dark text-decoration-none">|ALL TASKS|</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script type='text/javascript' src="{% static 'chatapp/js/script-chat-new-window.js' %}"></script>
{% endblock %}
