{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% block title %}
{% translate "Programmers stock market - Task details" %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="shadow p-3 mb-5 bg-body rounded col-11">
            <h1 class="title">{{ object.title }}</h1>
            <p class="fw-bold">{% blocktrans with get_status_display=object.get_status_display %}Status: {{ get_status_display }}{% endblocktrans %}</p>
            <p class="fw-bold">{% blocktrans with description=object.description%}Task description: {{ description }}{% endblocktrans %}</p>
            <p class="fst-italic">{% blocktrans with days_to_complete=object.days_to_complete%}Day to complete: {{ days_to_complete }}{% endblocktrans %}</p>
            <p class="fst-italic">{% blocktrans with budget=object.budget%}Budget: {{ budget }}{% endblocktrans %}</p>
            {% if object.skills %}
            <p>
                {% for skill in object.skills.all %}
                #{{skill}}
                {% endfor %}
            </p>
            {% endif %}

            {% if attachments %}
                <hr class="navbar-divider">
                <p>{% translate "Files:" %}</p>
                <ul>
                {% for attachment in attachments %}
                    <li>
                        <a href="{% url 'task-attachment-download' attachment.id %}" class="link-dark">{{attachment}}</a>
                        <a href="{% url 'task-attachment-delete' attachment.id %}" class="text-left border mb-1 p-1 mb-1 bg-warning text-dark text-decoration-none">|X|</a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            <p>
                <a href="{% url 'task-moderator-edit' object.id %}" class="btn btn-secondary" role="button">{% translate "EDIT" %}</a>
            </p>
            <hr class="navbar-divider">
            <div>
                <a href="{% url 'tasks-moderator-list' %}" class="btn btn-secondary" role="button">{% translate "ALL TASKS" %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script type='text/javascript' src="{% static 'tasksapp/script-chat-new-window.js' %}"></script>
{% endblock %}
