{% extends 'base.html' %}
{% block title %}
My events
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="shadow p-3 mb-5 bg-body rounded col-10 align-self-center">
            <h2>My tasks:</h2>
            <ul class="list-group">
                {% for task in object_list %}
                    <li class="list-group-item">
                            <a href="{% url 'task-detail' task.id %}" class="list-group-item list-group-item-action list-group-item-warning">
                              <div><strong>{{ task.title }}</strong>
                                {% if task.status == task.TaskStatus.OPEN %}
                                    <p class="mb-0"><i color="green" class="fa-solid fa-circle"></i> Task status: {{ task.get_status_display }}</p>
                                {% elif task.status == task.TaskStatus.ON_HOLD %}
                                    <p class="mb-0"><i color="red" class="fa-solid fa-stop"></i> Task status: {{ task.get_status_display }}</p>
                                {% elif task.status == task.TaskStatus.ON_GOING %}
                                    <p class="mb-0"> <i color="green" class="fa-solid fa-spinner"></i>  Task status: {{ task.get_status_display }}</p>
                                {% elif task.status == task.TaskStatus.OBJECTIONS %}
                                    <p class="mb-0"><i color="red"class="fa-solid fa-exclamation"></i> Task status: {{ task.get_status_display }}</p>
                                {% elif task.status == task.TaskStatus.COMPLETED %}
                                    <p class="mb-0"><i color="green" class="fa-solid fa-check"></i>  Task status: {{ task.get_status_display }}</p>
                                {% elif task.status == task.TaskStatus.CANCELLED %}
                                    <p class="mb-0"><i color="red" class="fa-solid fa-ban"></i> Task status: {{ task.get_status_display }}</p>
                                {% endif %}
                            </div>
                            </a>
                            {% if task.selected_offer %}
                            <a href="{% url 'offer-detail' task.selected_offer.id %}" class="link-dark">
                              <span><< This task has selected an offer</span>
                            </a>
                            {% else %}
                            <a href="{% url 'task-offers-list' task.id %}" class="link-dark">
                              <span>>> Offers for this task</span>
                            </a>
                            {% endif %}
                        </span>
                    </li>
                {% endfor %}
            </ul>
            <a href="{% url 'task-create' %}" class="text-left border mb-1 p-1 mb-1 bg-warning text-dark text-decoration-none">NEW TASK</a>
            <a href="{% url 'tasks-client-history-list' %}" class="text-left border mb-1 p-1 mb-1 bg-warning text-dark text-decoration-none">OLD TASKS</a>
            <div class="pagination">
              {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
              {% endif %}
                <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
              {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
              {% endif %}
             </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}
