{% extends 'base.html' %}
{% load static %}
{% block title %}
Task preview
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="shadow p-3 mb-5 bg-body rounded col-11">
            <h1 class="title">{{ object.title }}</h1>
            {% include "tasksapp/task_status.html" with object=task %}
            <p class="fw-bold">Task description: {{ object.description }} </p>
            <p class="fst-italic">Days to complete: {{ object.days_to_complete }}</p>
            <p class="fst-italic">Budget: {{ object.budget }} </p>
            {% if object.skills %}

            <p>Skills:
                {% for skill in object.skills.all %}
                #{{skill}}
                {% endfor %}
            </p>
            {% endif %}

            {% if attachments %}
                <hr class="navbar-divider">
                <p>Files:</p>
                <ul class="list-group">
                {% for attachment in attachments %}
                    <li class="list-group-item">
                        <a href="{% url 'task-attachment-download' attachment.id %}" class="link-dark">{{attachment}}</a>
                    </li>
                {% endfor %}
                </ul>
            {% endif %}
            <div>
                <small>Have a question? <a class="chat_link" role="button" value="{% url 'open-chat' object.client.id %}" chat_id="{{ chat.id }}">Contact task submitter</a></small>
            </div>
            <hr class="navbar-divider">
            <div>
                <a href="{{request.META.HTTP_REFERER}}" class="btn btn-secondary" role="button">BACK</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
    <script type='text/javascript' src="{% static 'chatapp/js/script-chat-new-window.js' %}"></script>
{% endblock %}
