.text-divider   {
    margin: 2em 0;
    line-height: 0;
    text-align: center;
}

.text-divider span  {
    background-color: #fff;
    padding: 1em;
    font-family: Helvetica,Arial,FreeSans,sans-serif;
    font-size: 1.5rem;
    color: #999;
}

.text-divider:before    {
    content: " ";
    display: block;
    border-top: 1px solid #e3e3e3;
    border-bottom: 1px solid #f7f7f7;
}
