{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load users_extras %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-10 align-self-center">

      <form class="mt-2 mb-4" method="get">
        {% crispy form %}
        <button class="btn btn-primary" type="submit">{% translate "Search" %}</button>&nbsp;
        <a class="btn btn-secondary" type="button" href="{{ request.path }}">{% translate "Reset filter" %}</a>
      </form>

      <h2>{{ list_title }}</h2>

      {% if not user|has_group:GROUP_NAMES.MODERATOR %}
      {% include "chatapp/chat_list_standard.html" %}
      {% else %}
      {% include "chatapp/chat_list_moderator.html" %}
      {% endif %}

      {% if is_paginated %}
      {% include '_pagination.html' %}
      {% endif %}

    </div>
  </div>
</div>

{% endblock %}

{% block scripts %}
<script type='text/javascript' src="{% static 'chatapp/js/script-chat-new-window.js' %}"></script>
{% endblock %}
