<!-- The Modal -->
<div class="modal" id="request-arbiter-modal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Do you want an arbiter to join the chat?</h4>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer d-flex justify-content-center">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <a>
                    <button type="submit" id="request-arbiter-submit-btn" class="btn btn-primary">Request arbiter</button>
                </a>
            </div>

        </div>
    </div>
</div>
