{% extends 'base.html' %}
{% block title %}
Search tasks
{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-10 align-self-center">
            <h3>Filter:</h3>
            <form method="post">{% csrf_token %}
                <div class="row g-3 mb-3 align-items-center">
                    <div class="col-auto">
                        <label for="query" class="form-label">Search</label>
                    </div>
                    <div class="col-auto">
                        <input type="email" class="form-control" id="query" placeholder="search text">
                    </div>
                </div>
                <div class="row g-3 mb-3 align-items-center" id="selected-skills">
                  <div class="col-auto" id="selected-skills-list">
                  </div>
                </div>
                <div class="row g-3 mb-3 align-items-center" id="pos-skills">
                  <div class="col-auto">
                    <label for="filter-skills" class="col-form-label">Add skills</label>
                  </div>
                  <div class="col-auto">
                    <input type="text" id="filter-skills" class="form-control" placeholder="filter">
                  </div>
                  <div class="col-auto" id="pos-skills-list">
                  </div>
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
            <h2>Tasks found:</h2>
            <ul>
                {% for task in object_list %}
                    <li><span>
                            <a href="{% url 'task-detail' task.id %}">
                                <span>{{ task.title }}</span>
                                <span>:{{ task.get_status_display }}</span>
                            </a>
                        </span>
                    </li>
                {% endfor %}
            </ul>
            <div class="pagination">
              {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
              {% endif %}
                <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>
              {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">Next</a>
              {% endif %}
             </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
    {% include 'offerapp/task_search_scripts.html' %}
{% endblock %}
